*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Open+Sans&family=Radio+Canada:wght@500&family=Raleway:wght@900&family=Roboto&family=Tapestry&display=swap);
}


.boutonaccueilprincipal{
    color: white;
    font-size: 5pt;
    text-decoration: none;
}

/*Header navbar*/
header{
    background-color: #093348;
    height: 80px;
    display: flex;
    align-items: center;
    
}
nav{
    display: flex;
   align-items:center;
   
}
header ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
header a{
    display:block;
    padding: 15px;
    color: white; 
    text-transform: uppercase;
   text-decoration: none;
   font-size: 17pt;
}
header .homepage{
    width: 160px;
    border-right: #2c101a solid 2px;
    box-shadow: #1a4155 2px 0px;
}
header img{
    display: block;
    margin-top: 12px;
    border-radius: 100%;
    background-color: #11394e;
    border: #385766 solid 2px;
}
header li :hover{
    background-color: #1f4559;
    color: #8ebdd6;
}

/*Homepage*/
.ContainerHomePage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url(Ressources/ordinateur.png);
    height: 500px;
    padding: 30px;
}
.ContainerHomePage h1{
    margin: 0 auto;
    color: white;
    font-size: 60pt;
}
.ContainerHomePage h2{
    margin: 0 auto;
    color: white;
    font-size: 24pt;
}
.ContainerHomePage p{
    margin:0 auto;
    width: 600px;
    flex-direction: column;
    text-align: center;
    color: #b4d1e1;
    font-size: 15pt;
    border-top: #5a8da7 solid 2px;
    padding-top: 40px;
}
.ContainerHomePage a{
    margin:0 auto;
}
button{
    width: 400px;
    height: 40px;
    background: none;
    color: white;
    border-radius: 30px;
    border: white solid 2px;
    text-align: center;
    font-size: 15pt;
}
/*Ourteam*/
.ContainerOurTeam{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
}
.ContainerOurTeam h1{
    margin: 0 auto;
    font-size: 30pt;
    color: #0d415c;
}
.ContainerOurTeam .Pourteam{
   width: 600px;
   margin: 0 auto;
   display: flex;
   text-align: center;
   font-size: 15pt;
   color: #0d415c;
   border-top:  #c9d4da solid 2px;
   padding-top: 30px;
}
.ContainerOurTeam div{
    display: flex;
    margin: 0 auto;
    width: 1000px;
    justify-content: space-between;
    gap: 50px;
}
.ContainerOurTeam article h2{
    color: #0d415c;
    text-align: center;
    font-size: 24pt;
}
.ContainerOurTeam article{
    color: #618598;
    font-size: 13pt;
    text-align: center;
    margin-bottom: 30px;
}

/*Porfolio*/
.ContainerPortfolio{
    background-color: #3ead87;
    height: 500px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}
.ContainerPortfolio h1{
    color: white;
    font-size: 36pt;
    margin: 0 auto;
}
.ContainerPortfolio h2{
    color: white;
    font-size: 18pt;
    margin: 0 auto;
}
.ContainerPortfolio article{
    margin: 0 auto;
    display: flex;
    gap: 150px;
}
.ContainerPortfolio a{
    margin: 0 auto;
}

/*contact*/
.ContainerContact{
    display: flex;
    flex-direction: column;
    background-color: #223139;
    height: 500px;
    justify-content: space-around;
    padding: 30px;
}
.ContainerContact h1{
    color: white;
    font-size: 36pt;
    margin: 0 auto;
}
.ContainerContact h2{
    color: white;
    font-size: 18pt;
    margin: 0 auto;
}
.ContainerContact form{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    gap: 10px;
}
.nom, .email{
    border: white ;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    color: #8ea6b3;
    font-size: 15pt;
}
.message{
    border: white ;
    border-radius: 20px;
    height:  150px;
    padding: 10px;
    text-align: center;
    color: #8ea6b3;
    font-size: 15pt;
}
.ContainerContact a{
    display:block;
    margin: 0 auto;
    text-decoration: none;
}

/*footer*/
footer{
   background-color: #223139;
}
.pictofooter{
    margin-left: -120px;
}
footer h2{
    color: white;
    font-size: 16pt;
    
}
footer p{
    color: white;
    font-size: 12pt;
}
footer .footer{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: #c9d4da solid 2px;
    margin: 0 auto;
}
@media screen and (max-width : 1100px) 
{ header{
    flex-direction: column;
    height: 300px;
    
}
nav{
    flex-direction: column;
    
}
nav ul{
    flex-direction: column;
    
}
nav a{
    font-size: 12pt;
    
}
.ContainerHomePage h1{
  font-size:18pt;
}
.ContainerHomePage h2{
    font-size: 14pt;
}
.ContainerHomePage p{
    width: 300px;
}
.ContainerOurTeam h1{
    font-size: 18pt;
    text-align: center;
}
.ContainerOurTeam div{
    flex-direction: column;
    width: 500px;
}
.ContainerOurTeam{
    height:1200px;
    
}
.ContainerOurTeam .Pourteam{
    font-size: 12pt;
    width: 500px;
}

.ContainerPortfolio{
    flex-direction: column;
    height: 800px;
}
.ContainerPortfolio h1{
    font-size: 18pt;
    text-align: center;
}
.ContainerPortfolio article{
    flex-direction: column;
}
.ContainerPortfolio h2{
    font-size: 14pt;
}

.ContainerContact h1{
    font-size: 18pt;
    text-align: center;
}
.ContainerContact h2{
    font-size: 14pt;
}
.ContainerContact form{
    width: 300px;
}
.ContainerContact a{
   margin: 0 auto;
  
}
.ContainerContact .boutoncontact{
    width: 200px;
}
footer .footer{
   width: 500px;
   flex-direction: column;
   margin: 0 auto;
}
}