*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    

/*navbar*/
.Nav{
    display:flexbox;
    background-color: #093348;
    width: 100%;   
}
.listnav{
    display:flex;
    flex-direction:row;
    list-style-type: none;
    justify-content:end;
    margin-right: 300px;
   
}
.listnav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17pt;
    letter-spacing: 2px;
    padding: 20px;
}
.homePage{
    border: #2c101a;
    border-sh
}
.listnav a:hover{
    background-color: #1f4559;
    color: #8ebdd6;
}
.pictopinceau{
    border-color: white solid 10px;
    background-color: #11394e;
    border-radius: 100%;
     
}
/*header*/
.photoordinateur{
    width: 100%;
}
